<div class="center">
  <h5>Medium Clone app using RealWorl Conduit</h5>

  <div *appShowAuthed="false">
    <a routerLink="/login">Sign In</a>
    <a routerLink="/register">Sign Up</a>
  </div>

  <div *appShowAuthed="true">
    <a routerLink="/">Home</a>
    <a routerLink="/article">New Article</a>
    <a routerLink="/settings">Settings</a>

    <a routerLink="/editor"><img width="40px" [src]="currentUser?.image || 'https://static.productionready.io/images/smiley-cyrus.jpg'" alt="" /> {{ currentUser?.username }}</a>
  </div>
</div>
